<!DOCTYPE html>
<!--
	Strata by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
  <head>
    <title>Portal System - EXPO'25</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <link rel="stylesheet" href="/assets/css/main.css" />
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  </head>
  <body class="is-preload">
    <!-- Menu Toggle -->
    <a
      href="#menu"
      class="menuToggle"
      style="background-color: black; border-radius: 20%; font-size: 1.2em"
      ><span>Menu</span></a
    >
    <!-- Menu -->
    <nav id="menu">
      <a href="#" class="close"><span>Close</span></a>
      <h2>Menu</h2>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/arts">Arts</a></li>
      </ul>
    </nav>

    <!-- Main -->
    <div id="#">
      <!-- Two -->
      <section id="two">
        <h1 style="text-align: center; font-size: 3em">Arts</h1>
        <div class="col" style="max-width: 90%; margin: auto">
          {%- for post in collections.post -%}
          <article class="col-6 col-12-xsmall work-item">
            <div
              style="
                background-color: powderblue;
                padding: 0.5em;
                border-radius: 10px;
              "
            >
              <div style="max-width: 30%; min-width: 16em; margin: auto">
                <a href="{{ post.data.product_image }}" class="image fit thumb"
                  ><img
                    src="{{ post.data.product_image }}"
                    alt=""
                    style="
                      aspect-ratio: 1 / 1;
                      object-fit: cover;
                      width: 100%;
                      height: auto;
                      display: block;
                    "
                    id="{{ post.data.identifier }}"
                  />
                </a>
                <h3
                  style="
                    font-size: 1.6rem;
                    font-weight: bold;
                    text-align: center;
                    color: black;
                    margin: 0;
                  "
                >
                  {{ post.data.product_name }}
                </h3>
                <p
                  style="
                    font-size: 1.4rem;
                    font-weight: bold;
                    text-align: center;
                    color: black;
                  "
                >
                  {{ post.data.product_section }}
                </p>
              </div>
              <p
                style="
                  font-size: 1.1rem;
                  max-width: 80%;
                  text-align: justify;
                  margin: auto;
                "
              >
                {{ post.data.product_description }}
              </p>
              <br />
              <div
                style="
                  font-size: 1.1rem;
                  max-width: 80%;
                  text-align: justify;
                  margin: auto;
                "
              >
                <h2 style="margin: 0">Members</h2>
                {{ post.data.members | safe }}
              </div>
            </div>
          </article>
          {%- endfor -%}
        </div>
      </section>
    </div>

    <!-- Footer -->
    <footer id="footer">
      <div class="inner">
        <ul class="icons">
          <li>
            <a href="#" class="icon brands fa-twitter"
              ><span class="label">Twitter</span></a
            >
          </li>
          <li>
            <a href="#" class="icon brands fa-github"
              ><span class="label">Github</span></a
            >
          </li>
          <li>
            <a href="#" class="icon brands fa-dribbble"
              ><span class="label">Dribbble</span></a
            >
          </li>
          <li>
            <a href="#" class="icon solid fa-envelope"
              ><span class="label">Email</span></a
            >
          </li>
        </ul>
        <ul class="copyright">
          <li>&copy; Portal System Team</li>
        </ul>
      </div>
    </footer>

    <!-- Scripts -->
    <script>
      if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", (user) => {
          if (!user) {
            window.netlifyIdentity.on("login", () => {
              document.location.href = "/admin/";
            });
          }
        });
      }
    </script>

    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/jquery.poptrox.min.js"></script>
    <script src="/assets/js/browser.min.js"></script>
    <script src="/assets/js/breakpoints.min.js"></script>
    <script src="/assets/js/util.js"></script>
    <script src="/assets/js/main.js"></script>
  </body>
</html>
