<!DOCTYPE html>
<html>
  {%- for post in collections.index -%}
  <head>
    <title>Home | Sentro de Museo</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <link rel="stylesheet" href="/assets/css/main.css" />
    <noscript
      ><link rel="stylesheet" href="/assets/css/noscript.css"
    /></noscript>
    <link rel="shortcut icon" href="/images/favicon.jpg" type="image/x-icon" />
  </head>
  <body class="is-preload">
    <!-- Wrapper -->
    <div id="wrapper">
      <!-- Header -->
      <header id="header" class="alt">
        <!-- <a href="index.html" class="logo"><strong>SHS EXPO 2025</strong></a> -->
        <nav>
          <a href="#menu">Menu</a>
        </nav>
      </header>

      <!-- Menu -->
      <nav id="menu">
        <ul class="links">
          <li><a href="/">Home</a></li>
          <li><a href="/landing">Sentro De Museo</a></li>
          <li><a href="/paintings">Paintings</a></li>
          <li><a href="/sculptures">Sculptures</a></li>
          <li><a href="/researches">Researches</a></li>
        </ul>
      </nav>

      <!-- Banner -->
      <section id="banner" class="major">
        <div class="inner">
          <span class="image">
            <img src="/images/uploads/pic03.jpg" alt="main_section_image_alt" />
          </span>
          <header class="major">
            <h1>{{ post.data.main_section_title }}</h1>
          </header>
          <div class="content">
            <p style="text-align: justify">
              {{ post.data.main_section_description | safe }}
            </p>
            <ul class="actions">
              <li>
                <a href="/landing" class="button next scrolly">Get Started</a>
              </li>
            </ul>
          </div>
        </div>
      </section>

      <!-- Main -->
      <div id="main">
        <!-- One -->
        <section id="one" class="tiles">
          <article>
            <span class="image">
              <img
                src="{{ post.data.first_section_image }}"
                alt="{{ post.data.first_section_alternative_image }}"
              />
            </span>
            <header class="major">
              <h3>{{ post.data.first_section_title }}</h3>
              <p>{{ post.data.first_section_description }}</p>
            </header>
          </article>
          <article>
            <span class="image">
              <img
                src="{{ post.data.second_section_image }}"
                alt="{{ post.data.second_section_alternative_image }}"
              />
            </span>
            <header class="major">
              <h3>{{ post.data.second_section_title }}</h3>
              <p>{{ post.data.second_section_description }}</p>
            </header>
          </article>
          <article>
            <span class="image">
              <img
                src="{{ post.data.third_section_image }}"
                alt="{{ post.data.third_section_alternative_image }}"
              />
            </span>
            <header class="major">
              <h3>{{ post.data.third_section_title }}</h3>
              <p>{{ post.data.third_section_description }}</p>
            </header>
          </article>
          <article>
            <span class="image">
              <img
                src="{{ post.data.fourth_section_image }}"
                alt="{{ post.data.fourth_section_alternative_image }}"
              />
            </span>
            <header class="major">
              <h3>{{ post.data.fourth_section_title }}</h3>
              <p>{{ post.data.fourth_section_description }}</p>
            </header>
          </article>
          <article>
            <span class="image">
              <img
                src="{{ post.data.fifth_section_image }}"
                alt="{{ post.data.fifth_section_alternative_imag }}"
              />
            </span>
            <header class="major">
              <h3>{{ post.data.fifth_section_title }}</h3>
              <p>{{ post.data.fifth_section_description }}</p>
            </header>
          </article>
          <article>
            <span class="image">
              <img
                src="{{ post.data.sixth_section_image }}"
                alt="{{ post.data.sixth_section_alternative_image }}"
              />
            </span>
            <header class="major">
              <h3>{{ post.data.sixth_section_title }}</h3>
              <p>{{ post.data.sixth_section_description }}</p>
            </header>
          </article>
        </section>

        <!-- Two -->
        <section id="two">
          <div class="inner">
            <header class="major">
              <h2>About</h2>
            </header>
            <p style="text-align: justify">
              {{ post.data.about_description | safe }}
            </p>
            <ul class="actions">
              <li>
                <a href="/landing" class="button next">Sentro de Museo</a>
              </li>
            </ul>
          </div>
        </section>
      </div>
      {%- endfor -%}

      <!-- Footer -->
      {%- for post in collections.social -%}
      <footer id="footer">
        <div class="inner">
          <ul class="icons">
            <li>
              <a
                href="{{ post.data.facebook_link }}"
                class="icon brands alt fa-facebook-f"
                ><span class="label">Facebook</span></a
              >
            </li>
            <li>
              <a
                href="{{ post.data.github_link }}"
                class="icon brands alt fa-github"
                ><span class="label">GitHub</span></a
              >
            </li>
          </ul>
          <ul class="copyright">
            <li>&copy; Sentro de Museo</li>
            <li>
              Design: Portal Team EXPO '25
            </li>
          </ul>
        </div>
      </footer>
      {%- endfor -%}
    </div>

    <!-- Scripts -->
    <script>
      if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", (user) => {
          if (!user) {
            window.netlifyIdentity.on("login", () => {
              document.location.href = "/admin/";
            });
          }
        });
      }
    </script>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/jquery.scrolly.min.js"></script>
    <script src="assets/js/jquery.scrollex.min.js"></script>
    <script src="assets/js/browser.min.js"></script>
    <script src="assets/js/breakpoints.min.js"></script>
    <script src="assets/js/util.js"></script>
    <script src="assets/js/main.js"></script>
  </body>
</html>
