<!DOCTYPE html>
<html>
  {%- for post in collections.landing -%}
  <head>
    <title>Landing | Sentro de Museo</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <link rel="stylesheet" href="/assets/css/main.css" />
    <noscript
      ><link rel="stylesheet" href="/assets/css/noscript.css"
    /></noscript>
    <link rel="shortcut icon" href="/images/favicon.jpg" type="image/x-icon" />
  </head>
  <body class="is-preload">
    <!-- Wrapper -->
    <div id="wrapper">
      <!-- Header -->
      <!-- Note: The "styleN" class below should match that of the banner element. -->
      <header id="header" class="alt style2">
        <!-- <a href="index.html" class="logo"><strong>Forty</strong> <span>by HTML5 UP</span></a> -->
        <nav>
          <a href="#menu">Menu</a>
        </nav>
      </header>

      <!-- Menu -->
      <nav id="menu">
        <ul class="links">
          <li><a href="/index">Home</a></li>
          <li><a href="/landing">Sentro De Museo</a></li>
          <li><a href="/paintings">Paintings</a></li>
          <li><a href="/sculptures">Sculptures</a></li>
          <li><a href="/researches">Researches</a></li>
        </ul>
        <ul class="actions stacked">
          <li><a href="/landing" class="button primary fit">Get Started</a></li>
        </ul>
      </nav>

      <!-- Banner -->
      <!-- Note: The "styleN" class below should match that of the header element. -->
      <section id="banner" class="style2">
        <div class="inner">
          <span class="image">
            <img
              src="{{ post.data.main_section_image }}"
              alt="main_section_image_alt"
            />
          </span>
          <header class="major">
            <h1>{{ post.data.main_section_title }}</h1>
          </header>
          <div class="content">
            <p>
              {{ post.data.main_section_description | safe }}
            </p>
          </div>
        </div>
      </section>

      <!-- Main -->
      <div id="main">
        <!-- One -->
        <section id="one">
          <div class="inner">
            <header class="major">
              <h2>{{ post.data.second_section_title }}</h2>
            </header>
            <p>
              {{ post.data.second_section_description | safe }}
            </p>
          </div>
        </section>

        <!-- Two -->
        <section id="two" class="spotlights">
          <section>
            <a href="{{ post.data.first_article_link }}" class="image">
              <img
                src="{{ post.data.first_article_image }}"
                alt="{{ post.data.first_article_alt_image }}"
                data-position="center center"
              />
            </a>
            <div class="content">
              <div class="inner">
                <header class="major">
                  <h3>{{ post.data.first_article_title }}</h3>
                </header>
                <p>
                  {{ post.data.first_article_description | safe }}
                </p>
                <ul class="actions">
                  <li>
                    <a href="{{ post.data.first_article_link }}" class="button"
                      >Learn more</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </section>
          <section>
            <a href="{{ post.data.second_article_link }}" class="image">
              <img
                src="{{ post.data.second_article_image }}"
                alt="{{ post.data.second_article_alt_image }}"
                data-position="top center"
              />
            </a>
            <div class="content">
              <div class="inner">
                <header class="major">
                  <h3>{{ post.data.second_article_title }}</h3>
                </header>
                <p>
                  {{ post.data.second_article_description | safe }}
                </p>
                <ul class="actions">
                  <li>
                    <a href="{{ post.data.second_article_link }}" class="button"
                      >Learn more</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </section>
          <section>
            <a href="{{ post.data.third_article_link }}" class="image">
              <img
                src="{{ post.data.third_article_image }}"
                alt="{{ post.data.third_article_alt_image }} "
                data-position="25% 25%"
              />
            </a>
            <div class="content">
              <div class="inner">
                <header class="major">
                  <h3>{{ post.data.third_article_title }}</h3>
                </header>
                <p>
                  {{ post.data.third_article_description | safe }}
                </p>
                <ul class="actions">
                  <li>
                    <a href="{{ post.data.third_article_link }}" class="button"
                      >Learn more</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </section>
        </section>

      </div>
      <!-- Footer -->
      <!-- Footer -->
      {%- for post in collections.social -%}
      <footer id="footer">
        <div class="inner">
          <ul class="icons">
            <li>
              <a
                href="{{ post.data.twitter_link }}"
                class="icon brands alt fa-twitter"
                ><span class="label">Twitter</span></a
              >
            </li>
            <li>
              <a
                href="{{ post.data.facebook_link }}"
                class="icon brands alt fa-facebook-f"
                ><span class="label">Facebook</span></a
              >
            </li>
            <li>
              <a
                href="{{ post.data.instagram_link }}"
                class="icon brands alt fa-instagram"
                ><span class="label">Instagram</span></a
              >
            </li>
          </ul>
          <ul class="copyright">
            <li>&copy; Sentro de Museo</li>
            <li>
              Design:
              <a href="https://github.com/godsentsalvaloza/Portal-Expo-25"
                >Portal Team EXPO '25</a
              >
            </li>
          </ul>
        </div>
      </footer>
      {%- endfor -%}
    </div>

    <!-- Scripts -->
    <script>
      if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", (user) => {
          if (!user) {
            window.netlifyIdentity.on("login", () => {
              document.location.href = "/admin/";
            });
          }
        });
      }
    </script>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/jquery.scrolly.min.js"></script>
    <script src="/assets/js/jquery.scrollex.min.js"></script>
    <script src="/assets/js/browser.min.js"></script>
    <script src="/assets/js/breakpoints.min.js"></script>
    <script src="/assets/js/util.js"></script>
    <script src="/assets/js/main.js"></script>
    {%- endfor -%}
  </body>
</html>
